@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Jacques+Francois&family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');     


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background: linear-gradient(to bottom, #1d1630,  #EBD5BC); 
   color: #ffffff; 
   font-family: "Irish Grover", system-ui;
   text-align: center;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #ffffff; 
}

.navbar .nav-link:hover {
    color: #ffdc72; 
}

html {
    height: auto;
    min-height: 500%;
}

.titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.titulos h1, 
.titulos h2,
.titulos p {
    margin-bottom: 20px;
}

.titulos h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #e4dede;
    font-family: "Irish Grover", system-ui;
}

.titulosuno h1 {
   font-size: 4rem;
   font-weight: bold;
   color: #e4dede;
   font-family: "Irish Grover", system-ui;
   padding: 40px 0;
   margin-left: 8%;
}

.titulos h3 {
    font-size: 2rem;
    font-family: "Irish Grover", system-ui;
    color: #e4dede;
}

.titulos p {
    font-family: "Irish Grover", system-ui;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}



.btn-custom {
   --btn-padding-x: 30px; 
   --btn-padding-y: 15px; 
   --btn-font-family: 'Arial, sans-serif';
   --btn-font-size: 20px; 
   --btn-font-weight: bold;
   --btn-line-height: 1.5;
   --btn-color: #ffffff; 
   --btn-bg: linear-gradient(to right, #371d49, #443b57);
   --btn-border-width: 2px;
   --btn-border-color: transparent; 
   --btn-border-radius: 10px; 
   --btn-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
   
   padding: var(--btn-padding-y) var(--btn-padding-x);
   font-family: var(--btn-font-family);
   font-size: var(--btn-font-size);
   font-weight: var(--btn-font-weight);
   line-height: var(--btn-line-height);
   color: var(--btn-color);
   background-image: var(--btn-bg); 
   border-radius: var(--btn-border-radius);
   box-shadow: var(--btn-box-shadow);
   transition: all 0.3s ease;
}

.btn-custom:hover {
   background-image: linear-gradient(to right, #b19cd9, #6a0dad); 
}


.btn-custom:disabled {
    opacity: var(--btn-disabled-opacity);
}

.btn-custom:focus {
    outline: none;
    box-shadow: var(--btn-focus-box-shadow);
}

.card {
   background-color: #f8f9fa; 
   color: black; 
   border-radius: 20px; 
   box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); 
   margin: 20px auto; 
   padding: 25px; 
   max-width: 18rem; 
   transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; 
}

.card:hover {
   transform: translateY(-5px); 
   box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.5); 
}

.card-title {
   font-family: "Irish Grover", system-ui;
   font-size: 1.5rem;
   color: #201a2c; 
   margin-bottom: 10px;
}
.card-title2 {
   font-family: "Irish Grover", system-ui;
   font-size: 1.5rem;
   color: #201a2c; 
   margin-bottom: 10px;
   text-align: right;

}
.img-card{
   width: 200px;
   height: 200px;
}

.card-text {
   font-family:Jacques Francois, serif;
   font-size: 1rem;
   color: rgb(3, 3, 3); 
}
.card-text2 {
   text-align: right;
   font-family:Jacques Francois, serif;
   font-size: 1rem;
   color: rgb(3, 3, 3); 
}

.card .btn {
   background-color:#fff478 ;
   color:#371d49 ;
   border:none ;
   font-family: Jacques Francois, serif;
   border-radius :5px ;
   padding :10px 20px ;
   font-size :0.9rem ;
   
   transition :background-color .3s ease , box-shadow .3s ease ;
}

.card .btn:hover {
   background-color:#4d9fcf ;
   box-shadow :0px 4px 10px rgba(0 ,0 ,0 ,0.3) ;
}

.footer-buttons .btn {
   background-color:#D6C784 ;
   color:white ;
   font-weight:bold ;
}

/* Estilos para la barra de navegación font-family: "Irish Grover", system-ui;  */
.navbar {
   background-color: #1d1630; 
   box-shadow: 0 4px 8px rgba(67, 63, 71, 0.2); 
   box-shadow: 0 4px 8px rgba(165, 162, 162, 0.2); 
   font-family: "Irish Grover", system-ui;
}

.navbar-nav .nav-item {
   margin-left: 20px; 
}

.navbar-nav .nav-link {
   font-size :1.1rem ; 
   font-weight:bold ; 
}


.navbar-nav .nav-link:hover {
   color :rgb(255, 228, 146) ;
}

/* Estilo adicional para los botones */
.coding-btn {
   margin :0 10px ; /
}

.container h3 {
   font-size: 2rem; 
   color: #f5f5f5; 
   margin-bottom: 20px; 
   font-family: Jacques Francois, serif;
}

.container img {
   max-width: 100%; 
   height: auto; 
   border-radius: 10px; 
}




.titulos {
   padding :40px 0 ;
}
      
h1 {
   font-size :4rem ;
}
      
h2 {
   font-size :2rem ;
}
      
.container {
   margin-top :20px ;
}

/* Estilo para el contenido de las pestañas */
.tab-content {
   border-radius :0.25rem ; 
}

.coding-header {
   padding :40px 0 ;
}
    
h1 {
   font-size :4rem ;
}
    
h2 {
   font-size :2rem ;
}
    
.options-container {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f8f9fa; 
   padding: 10px; 
   border-radius: 25px; 
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.option-item {
   margin: 0 15px; 
}

.option-item input[type="radio"] {
   display: none; 

.option-item label {
   padding: 10px 20px; 
   border-radius: 25px; 
   background-color: #ffffff; 
   color: #292239; 
   cursor: pointer; 
   transition: background-color 0.3s, color 0.3s;
}

.option-item input[type="radio"]:checked + label {
   background-color: #6a0dad; 
   color: white; 
}


.options-container {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ffffff; 
   padding: 10px; 
   border-radius: 25px; 
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.option-item {
   margin: 0 15px; 
}

.option-item input[type="radio"] {
   display: none; 
}

.option-item label {
   padding: 10px 20px; 
   border-radius: 25px; 
   background-color: #eee8e8; 
   color: #fafafc; 
   cursor: pointer; 
   transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; 
}

.option-item input[type="radio"]:checked + label {
   background-color: #7508c4; /* Color de fondo al seleccionar */
   color: white; /* Color del texto al seleccionar */
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al seleccionar */
}

.option-item label:hover {
   background-color: #81bff1; 
}




.coding-background {
   background: linear-gradient(to right, #e6d7f3, #af65fa); 
   padding: 40px;
   border-radius: 15px; 
   box-shadow: 0px 4px 8px rgba(27, 27, 27, 0.2); 
   text-align: center; 
}

.coding-title {
   font-size: 5rem;
   color: white; 
   font-family: "Irish Grover", system-ui;;
}

.button-container {
   margin-top: 40px; 
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn-custom {
   display: inline-block;
   padding: 10px 20px;
   margin: 10px;
   background-color: #020202; 
   color: white; 
   border-radius: 25px; 
   cursor: pointer; 
   transition: background-color 0.3s; 
}

.btn-custom:hover {
   background-color: #463c58; 
}

.toggle {
   display: none; 
}

.part-content {
   display: none; 
   margin-top: 20px;
   padding: 20px;
   background-color: white; 
   border-radius: 10px; 
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Mostrar contenido cuando el checkbox está marcado */
#part1-toggle:checked ~ #part1-content,
#part2-toggle:checked ~ #part2-content {
   display: block; /
} 
}

.carousel{
   width: 40%;
   height: 40%;
   margin-left: 29%;
}
